[Unit]
After=network.target

[Service]
User=root
Restart=always
WorkingDirectory=/srv/jupyterhub/collaborative
# Protect bits that are normally shared across the system
PrivateTmp=yes
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
Environment=SHELL=/bin/bash
ExecStart=/srv/jupyterhub/launch.sh

[Install]
# Start service when system boots
WantedBy=multi-user.target
